html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ml-mr-2 {
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 2.4em;
}

.size-20 {
  font-size: 1.3rem;
}

.ml-06 {
  margin-left: 0.6em;
}