@model Brand

@{
    ViewBag.Title = "Add new brand";
}

<div class="bg-dark text-center pt-5 pb-4">
    <h3 class="text-white mb-5">Fill out the form to add a new brand</h3>
    <form asp-action="Create" asp-controller="Brand" method="post">
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter the brand name...">
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="email" class="form-control" asp-for="Email" placeholder="Enter the brand email...">
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="date" class="form-control" asp-for="DateFoundation" placeholder="Indicate the date of brand foundation...">
            </label>
        </div>
        <button type="submit" class="btn btn-outline-light mb-3 w-25">Add new brand</button>
    </form>
</div>