@model Brand

@{
    ViewBag.Title = "Edit brand";
}

<div class="bg-dark text-center pt-5 pb-4">
    <h3 class="text-white mb-5">Fill out the form to edit a brand</h3>
    <form asp-action="Edit" asp-controller="Brand" method="post">
        <input type="hidden" asp-for="Id"/>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter the brand name...">
                <span asp-validation-for="Name" class="text-error"/>
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="email" class="form-control" asp-for="Email" placeholder="Enter the brand email...">
                <span asp-validation-for="Email" class="text-error"/>
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="date" class="form-control" asp-for="DateFoundation" placeholder="Indicate the date of brand foundation...">
                <span asp-validation-for="DateFoundation" class="text-error"/>
            </label>
        </div>
        <button type="submit" class="btn btn-outline-light mb-3 w-25">Save</button>
    </form>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}